@using CRM.Entity.Search.Customer
@model PersonEmailSearchModel
@{
    ViewData["Title"] = "Email";
}
<form asp-action="EmailGrid" method="GET">
    
    <input type="hidden" asp-for="@Model.TargetGridId" />
    <input type="hidden" asp-for="@Model.PersonId" />
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="row" id="divComposeEmail">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div id="filterDiv" class="row">
                                <div class="col-md-12">
                                    <search />
                                </div>
                            </div>
                        </div>
                        <div id="@Model.TargetGridId" class="grid">
                            @Html.Partial("EmailGrid", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="ibox">
    <div class="pull-left">
        <button type="button" onclick="$('#tabDocument').click();" class="btn btn-primary">Documents</button>
    </div>
    <div class="pull-right">
        <button type="button" onclick="$('#tabSms').click();" class="btn btn-warning">SMS</button>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        attachSearchGridEvents();
        $('.btn-filter').click();
    });
    function composeEmail() {
        var id = $("#Id").val();
        window.location.href = '/Email/ComposeEmail?personId=' + id;
    }
</script>

