@using CRM.Entity.Search.Customer
@model PersonSmsSearchModel
@{
    ViewData["Title"] = "Smses";
}
<div class="ibox-content">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><sort display-name="Number" column-name="ReceiverNumber" /></th>
                <th><sort display-name="Message" column-name="Message" /></th>
                <th><sort display-name="Comment" column-name="Comment" /></th>
                <th class="pull-right"><button class="btn btn-primary" type="button" onclick="composeSms()">Compose</button></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PersonSmsSearchResult)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sms.ReceiverNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sms.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td></td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td class="tc" colspan="12">
                    <pageing />
                </td>
            </tr>
        </tfoot>
    </table>
</div>
