@using CRM.Entity.Search.Common
@model EmailSearchModel
@{
    ViewData["Title"] = "Email";
}
<form asp-action="EmailGrid" method="get">
    <input type="hidden" asp-for="@Model.TargetGridId" />
    <input type="hidden" asp-for="@Model.PersonId" />
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style="display: none">
                            <div id="filterDiv" class="row">
                                <div class="col-md-12">
                                    <search />
                                </div>
                            </div>
                        </div>
                        <div id="@Model.TargetGridId" class="grid">
                            @Html.Partial("EmailGrid", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        attachSearchGridEvents();
        $('.btn-filter').click();
    });
</script>

