@model dynamic
<h3>
    <strong>Gas Safety Check – IMPORTANT APPOINTMENT </strong> 
    <img style="text-align: right" src="Images/Incommunities.png" />
</h3>
<div id="Divtemplate">
    <strong>
        RE: Your Annual Gas Safety Check is now due
    </strong>
    <br />

    <br />
    <p>
        The gas safety check will take up to 1 hour and will ensure that gas appliances are safe to use.If you are unable to keep this
        appointment please telephone 01274 257003 (between 8:30am – 4:00pm) or email <span style="color:blue">
    gasservice@incommunities.co.uk</span> to re-arrange a more convenient appointment.
    Please give at least 24 hours’ notice prior to the above date to re-arrange the appointment.
</p>
    <br />
    <p>
        If you fail to re-arrange the appointment we will assume the date and time stated above is convenient and an engineer will
        attend accordingly.
    </p>
    <br />
    <p>Prior to the appointment please ensure that: -</p>
    <ol>
        <li>
            <p>
                Any prepaid gas / electric meters are in credit.
            </p>
        </li>
        <li>
            <p>
                The area around your boiler and / or gas fire is clear, as Incommunities will not accept responsibility or liability for damage
                caused to personal items during the visit.
            </p>
        </li>
        <li>
            <p>
               An adult (over 18 years) will be present in your property.
            </p>
        </li>
        <li>
            <p>
                You ask the engineer to produce his identification badge.
            </p>
        </li>
    </ol>
    <br />
    <table style="border-collapse:collapse;border:none;mso-border-alt:solid windowtext 3.0pt;&#10;                                                                                                                                                                                                                                                           mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt;mso-border-insideh:&#10;3.0pt solid windowtext;mso-border-insidev:3.0pt solid windowtext" border="1" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="616" valign="top" style="width:462.1pt;border:solid windowtext 3.0pt;&#10;                                                                                                                                                                                                                                                                                                                                                                                                                                                padding:0cm 5.4pt 0cm 5.4pt">
                    <p align="center" style="text-align: center;">
                        <b>
                            <span style="color:red">
                                PLEASE NOTE: Landlord’s safety checks are a legal requirement of your landlord, designed
                                to safeguard you and your property, and anyone else in your home. Failure toallow access 
                                to your property will result in a range of sanctions against you, up-to and including, 
                                legal action being taken.
                            </span>
                        </b>

                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <p>Yours sincerely,</p>
    <br />
    <p>Mark Stoyles </p>
    <p>Gas Servicing Manager</p>
</div>
