@using CRM.Entity.Search.Common
@model CalendarSearchModel
<div class="row">
    <div class="panel">
        <div class="panel-body">
            <div class="form-group">
                <label asp-for="ApplicationId" class="col-md-1 control-label"></label>
                <div class="col-sm-2">
                    @Html.DropDownListFor(model => model.ApplicationId, Model.ApplicationList, new { @class = "form-control dropdown" })
                </div>
                <label asp-for="TaskTypeId" class="col-md-1 control-label"></label>
                <div class="col-sm-2">
                    @Html.DropDownListFor(model => model.TaskTypeId, Model.TaskTypeList, new { @class = "form-control dropdown" })
                </div>
                <label asp-for="EmployeeId" class="col-md-1 control-label"></label>
                <div class="col-sm-2">
                    @Html.DropDownListFor(model => model.EmployeeId, Model.EmployeeList, new { @class = "form-control dropdown" })
                </div>
                <label asp-for="PersonId" class="col-md-1 control-label"></label>
                <div class="col-sm-2">
                    <input asp-for="PersonId" type="text" placeholder="person..." class="typeahead form-control" />
                </div>
            </div>
        </div>
    </div>
</div>
