@using Newtonsoft.Json
@model object
<div class="panel-body" id='divCrmSchedule'></div>
<script type="text/javascript">
    model = @Html.Raw(JsonConvert.SerializeObject(Model));
    $(function () {
        contacts = model.Value.contacts;
        tasks = model.Value.tasks;
        reloadResheduling();
    });
</script>