@using CRM.Entity.Model
@using CRM.Entity.Search.Lookup
@model PersonCaseStatusSearchModel
@{
    ViewData["Title"] = "Case Status List";
}
<form asp-action="Grid" method="get">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div id="filterDiv" class="row">
                                <div class="col-md-12">
                                    <search />
                                </div>
                            </div>
                        </div>
                        <div id="@Model.TargetGridId" class="grid">
                            @Html.Partial("Grid", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@Html.Partial("ModalDialog", new ModalDialogViewModel { ParentDivId = "divCaseStatusParent" })

@section Scripts {
    <script type="text/javascript">
        function displayEditCaseType(caseTypeId) {
            var url = "/CaseType/Edit?id=" + caseTypeId;
            showDialog("divCaseTypeParent", "frmCaseType", url, "Edit Case Type");
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

