@using CRM.Entity.Model
@using CRM.Entity.Search.Lookup
@model EthnicitySearchModel
@{
    ViewData["Title"] = "Ethnicity List";
}
<form asp-action="Grid" method="get">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div id="filterDiv" class="row">
                                <div class="col-md-12">
                                    <search />
                                </div>
                            </div>
                        </div>
                        <div id="@Model.TargetGridId" class="grid">
                            @Html.Partial("Grid", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@Html.Partial("ModalDialog", new ModalDialogViewModel { ParentDivId = "divEthnicityParent" })

@section Scripts {
<script type="text/javascript">
    function displayAddEthnicity() {
        var url = "/Ethnicity/Create";
        showDialog("divEthnicityParent", "frmEthnicity", url, "Create Ethnicity");
    }
    function displayEditEthnicity(ethnicityId) {
        var url = "/Ethnicity/Edit?id=" + ethnicityId;
        showDialog("divEthnicityParent", "frmEthnicity", url, "Edit Ethnicity");
    }
</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

