@using CRM.Entity.Model.Employee
@model PermissionDto
<form id="editPermission" class="form-horizontal" role="form" asp-controller="Permission" asp-action="Save" data-ajax="true" data-ajax-complete="handleEthnicityUpdate" data-ajax-success="handleEthnicityUpdate" data-ajax-method="POST">
    
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.RowVersion)
    <p>
        <span class="text-danger">@Model.ErrorMessage</span>
        <span>@Html.ValidationSummary(true)</span>
    </p>
    @*<div class="ibox-content">
        <div class="form-group m-b">
            <label asp-for="ControllerName" class="col-md-3 control-label"></label>
            <div class="col-sm-9">
                <input asp-for="ControllerName" class="form-control" />
                <span asp-validation-for="ControllerName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group m-b">
            <label asp-for="DisplayName" class="col-md-3 control-label"></label>
            <div class="col-sm-9">
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group m-b">
            <label asp-for="Description" class="col-md-3 control-label"></label>
            <div class="col-sm-9">
                <input  asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>*@
</form>
<script type="text/javascript">
    $(function () {
        $("#editPermission").submit(function (event) {
            submitModalForm($(this), event);
        });
    });
</script>
