@model CRM.Entity.Search.Employee.UserSearchModel
@{
    ViewData["Title"] = "Application User";
}
<div class="ibox-content">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th><sort display-name="Name" column-name="Name" /></th>
            <th><sort display-name="Email" column-name="Email"/></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.UserSearchResult)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td class="tc" colspan="12">
                <pageing />
            </td>
        </tr>
        </tfoot>
    </table>
</div>