@model CRM.Entity.Search.Customer.TenantSearchModel
@if (Model == null)
{
    <p> No details available.</p>
}
else
{
    <form asp-action="TenantGrid" method="get">
        <input type="hidden" asp-for="@Model.PropertyCode" />
        <div class="row">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <div id="filterDiv" class="row">
                                    <search/>
                                </div>
                            </div>
                            <div id="@Model.TargetGridId" class="grid">
                                @Html.Partial("TenantGrid", Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $(function () {
            initializeGrid();
        });
    </script>

}
   