@using CRM.Entity.Model.Common
@model DocumentDto
<div class="icon">
    <i class="fa fa-file"></i>
</div>
<div class="file-name">
   @Model.Name
    <br />
    <small>Added:  @Model.CreatedDate</small>
</div>