@model CRM.Entity.Model.Lookup.AlertGroupDto
<form id="editAlertGroup" class="form-horizontal" role="form" asp-controller="AlertGroup" asp-action="Save" data-ajax="true" data-ajax-complete="handleAddressGroupUpdate" data-ajax-success="handleAddressGroupUpdate" data-ajax-method="POST">
    
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.RowVersion)
    <p>
        <span class="text-danger">@Model.ErrorMessage</span>
        <span>@Html.ValidationSummary(true)</span>
    </p>
    <div class="ibox-content">
        <div class="form-group m-b">
            <label asp-for="Name" class="col-md-3 control-label"></label>
            <div class="col-sm-9">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group m-b">
            <label asp-for="SortOrder" class="col-md-3 control-label"></label>
            <div class="col-sm-9">
                <input asp-for="SortOrder" class="form-control" />
                <span asp-validation-for="SortOrder" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group m-b">
            <label asp-for="IsActive" class="col-md-3 control-label"></label>
            <div class="col-sm-9">
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        $("#editAddressGroup").submit(function (event) {
            submitModalForm($(this), event);
        });
    });
</script>
