@using CRM.Entity.Model
@model CRM.Entity.Search.Customer.PersonFlagCommentSearchModel
@{
    ViewData["Title"] = "Person Flag Comment List";
}
<form asp-action="Grid" method="get">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div id="filterDiv" class="row">
                                <div class="col-md-12">
                                    <search />
                                </div>
                            </div>
                        </div>
                        <div id="@Model.TargetGridId" class="grid">
                            @Html.Partial("Grid", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@Html.Partial("ModalDialog", new ModalDialogViewModel { ParentDivId = "divPersonFlagCommentParent" })

@section Scripts {
    <script type="text/javascript">
        function displayEditPersonFlagComment(alertGroupId) {
            var url = "/PersonFlagComment/Edit?id=" + alertGroupId;
            showDialog("divPersonFlagCommentParent", "frmPersonFlagComment", url, "Edit Flag Group");
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

